.container{
    margin-bottom: 80px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 100px;
}

.wrapper{
    display: flex;
    column-gap: 10px;
}

.column{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}



