.photo {
	width: 35px;
	height: 35px;
	border-radius: 50%;
}

.comment_container {
	font-size: 10px;
	margin-top: 20px;
	width: 100%;
}

.author_info {
	display: flex;
	align-items: start;
	width: 100%;
}

.author_details {
	padding-top: 3px;
}

.name {
	margin-top: 0px;
	margin-bottom: 1px;
	font-size: 13px;
	font-weight: 500;
	width: 100%;
	text-wrap: nowrap;
}

.headline {
	color: gray;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	white-space: nowrap; /* Prevents text wrapping */
	overflow: hidden; /* Hides text that overflows the element's box */
	text-overflow: ellipsis; /* Displays an ellipsis to indicate truncated text */
}

.date {
	width: 100%;
	margin-top: 0px;
	justify-self: flex-end;
	text-align: end;
}

.content_container {
	margin-top: 10px;
	text-wrap: wrap;
}

.content {
	font-size: 13px;
	line-height: 18px;
}

.reactions_img {
	height: 18px;
}

.reactions_container {
	margin-top: 0px;
	margin-left: 50px;
	display: flex;
	align-items: center;
}

.info_date {
	display: flex;
}

.backgroundWrapper {
	width: 100%;
	background-color: #f3f2f0;
	padding: 10px;
	margin-left: 10px;
	border-radius: 0px 10px 10px 10px;
}
